<div class='container'>
  <div class='row'>
    <div class='pt-3 pl-5 ml-5'>
      <h4 class='alart alert-secondary'>会員情報編集</h4>
    </div>
  </div>
    <div class='row py-3 col-md-8 align-content-start'>
      <%= form_with url: customers_infomation_path, model: @customer, local:true do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-3">氏名</td>
              <td><%= f.text_field :last_name %></td>
              <td><%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <td class="col-3">フリガナ</td>
              <td><%= f.text_field :last_name_kana %>
              </td>
              <td>
                <%= f.text_field :first_name_kana %>
              </td>
            </tr>
            <tr>
              <td class="col-3">郵便番号</td>
              <td><%= f.text_field :post_code %></td>
            </tr>
            <tr>
              <td class="col-3">住所</td>
              <td colspan="2"><%= f.text_field :address, size: 60 %></td>
            </tr>
            <tr>
              <td class="col-3">電話番号</td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td class="col-3">メールアドレス</td>
              <td><%= f.text_field :email %></td>
            </tr>
            <tr>
              <td class="col-3"></td>
              <td><%= f.submit '変更を保存', class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "退会する", customers_check_path, class: 'btn btn-danger btn-secondary' %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
  </div>
</div>