<div class="container">
  <div class="row mt-4">
    <h2>会員情報編集</h2>
  </div>

<%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
    <div class="row mt-3">
      <div class="col-2">会員ID</div>
      <div class="col-3"><%= @customer.id %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">氏名</div>
      <div class="col-3"><%= f.text_field :first_name %></div>
      <div class="col-3"><%= f.text_field :last_name %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">フリガナ</div>
      <div class="col-3"><%= f.text_field :first_name_kana %></div>
      <div class="col-3"><%= f.text_field :last_name_kana %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">郵便番号</div>
      <div class="col-3"><%= f.text_field :post_code %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">住所</div>
      <div class="col-8"><%= f.text_field :address, class: "w-100" %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">電話番号</div>
      <div class="col-3"><%= f.text_field :phone_number %></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">メールアドレス</div>
      <div class="col-3"><%= f.text_field :email %></div>
    </div>
    <div class="row mt-2 mb-4">
      <div class="col-2">会員ステータス</div>
      <div class="col-3">
        <%= f.radio_button :is_deleted, false %>有効　<%= f.radio_button :is_deleted, true %>退会
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-3"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
    </div>
  <% end %>

</div>