<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>
        <span style="background-color:#eee">注文履歴詳細</span>
      </h2>
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><u>
            <%= link_to admin_customer_path(@order), class: "text-dark" do %>
              <%= @order.customer.first_name %>
              <%= @order.customer.last_name %>
            <% end %>
          </td></u>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.post_code %>
            <%= @order.address %><br>
            <%= @order.customer.first_name %>
            <%= @order.customer.last_name%>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
          <%= form_with model: @order, url: admin_order_path do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert, {prompt: false} %>
            <%= f.submit "更新", class: "btn btn-success ml-5" %>
          <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-9">
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.lnclusive_price %></td>
              <td><%= order_detail.quantity %></td>
              <td><%= order_detail.subtotal.to_s(:delimited) %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local: true do |f| %>
                <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false} %></td>
                <td><%= f.submit "更新", class: "btn btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= @total.round.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @shipping_cost %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @total + @shipping_cost %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>
