<div class="d-flex flex-wrap">
  <% items.each do |items|%>
    <div class="w-25 p-1">
      <%=link_to item_path(items) do %>
      <%=image_tag items.get_image(160,120), class: "w-100" %>
      <%end%><br>
      <%=link_to item_path(items) do %>
       <p class="card-title">
        <%=items.name%>
       </p>
      <%end%><br>
      <p class="card-text">
       ￥<%=items.excluded_price%><br>
      </p>
    </div>

  <% end %>
</div>