<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--header-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFCC00;">
       <div class="container">
　　　　<nav class="navbar-brand navbar-left header-logo">
        <%= link_to image_tag("cakelogo.png", size: "100x100"), root_path, class: "header-button btn text-light " %>
　　　　</nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav pull-right nav-pills">
<!--会員がログイン-->
          <% if customer_signed_in? %>
            <p>ようこそ、<%= current_customer.last_name %>さん！</p>
            <li><%= link_to "マイページ", customers_my_page_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "商品一覧", items_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "カート", cart_items_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header-button btn text-light" %></li>

    <!--管理人がログイン-->
          <% elsif admin_signed_in? %>
            <li><%= link_to "商品一覧", admin_items_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "会員一覧", admin_customers_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "注文履歴一覧", admin_root_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-button btn text-light" %></li>

    <!--ログアウト中-->
      　　　<% else %>
            <li><%= link_to "About", about_path, class: "header-button btn text-light" %></li>
      　　    <li><%= link_to "商品一覧", items_path, class: "header-button btn text-light" %></li>
      　　    <li><%= link_to "新規登録", new_customer_registration_path, class: "header-button btn text-light" %></li>
      　　    <li><%= link_to "ログイン", new_customer_session_path, class: "header-button btn text-light" %></li>
            <li><%= link_to "管理人ログイン", new_admin_session_path, class: "header-button btn text-light" %></li>
      　　　<% end %>
        </ul>

       <!-- 検索機能 -->
        <div class="input-group">
         <input type="text" class="form-control" placeholder="キーワードを入力">
         <button class="btn btn-outline-success" type="button" id="button-addon2"> 検索</button>
        </div>


       </div>
　　　</div>
     </nav>
    </header>


  　<main>
    <%= yield %>
    </main>

    <footer>
     <div class='container mt-5'>
      <div class='row'>
       <div class='mx-auto'>
        <p>ながの CAKE</p>
       </div>
      </div>
     </div>
    </footer>
  </body>
</html>
